<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lnyp.api">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SentenceActivity" />
        <activity android:name=".ui.JianDanActivity" />
        <activity android:name=".ui.MeiziActivity" />
        <activity android:name=".ui.ShowImageActivity" />
        <activity android:name=".ui.PengfuActivity" />
        <activity android:name=".ui.TieTuActivity" />
    </application>

</manifest>